<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template</title>
</head>
<body>
    <div>
        <div align="middle">
            <input type="text" maxlength="100" style="width: 500px;height: 100px;">
            <button>Search</button>
        </div>
        <h2>共为你找到相关结果约100个，显示从10共20</h2>
        <div>
            <table>
                <tbody>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href=""></a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td></td>
                        <td>0</td>
                        <td>0</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc0.com">albert0</a></td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc1.com">albert1</a></td>
                        
                        <td>1</td>
                        <td>10</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc2.com">albert2</a></td>
                        
                        <td>2</td>
                        <td>20</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc3.com">albert3</a></td>
                        
                        <td>3</td>
                        <td>30</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc4.com">albert4</a></td>
                        
                        <td>4</td>
                        <td>40</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc5.com">albert5</a></td>
                        
                        <td>5</td>
                        <td>50</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc6.com">albert6</a></td>
                        
                        <td>6</td>
                        <td>60</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc7.com">albert7</a></td>
                        
                        <td>7</td>
                        <td>70</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc8.com">albert8</a></td>
                        
                        <td>8</td>
                        <td>80</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                    <tr>
                        <td><a href="http://www.imooc9.com">albert9</a></td>
                        
                        <td>9</td>
                        <td>90</td>
                        <td>man</td>
                        <td>180</td>
                        <td>140</td>
                        
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>